#### Sales prediction involves forecasting the amount of a product that customers will purchase, taking into account various factors such as advertising expenditure, target audience segmentation, and advertising platform selection.

# Table of Content

Customer Name

Customer e-mail

Country

Gender

Age

Annual Salary

Credit Card Debt

Net Worth

# Importing Libraries

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot, plot
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

# Loading Data

In [11]:
df = data = pd.read_csv("Car Sales Prediction.csv",encoding='ISO-8859-1')
df.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

# Data Information and Data Cleaning

In [12]:
df.shape

(500, 9)

In [15]:
df.columns

Index(['customer name', 'customer e-mail', 'country', 'gender', 'age',
       'annual Salary', 'credit card debt', 'net worth',
       'car purchase amount'],
      dtype='object')

In [16]:
df.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [17]:
df.drop(columns=['customer name', 'customer e-mail', 'country'], inplace=True)

In [18]:
df.dropna(subset=['gender'], inplace = True)

# Building Model

In [20]:
X = df.drop('car purchase amount', axis=1)
y = df['car purchase amount']

In [21]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
y = scaler.fit_transform(y.values.reshape(-1, 1))

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(400, 5)
(400, 1)
(100, 5)
(100, 1)

In [23]:
model = Sequential()
model.add(Dense(10, activation='relu', input_dim=5))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])
model.summary()

WARNING:tensorflow:From C:\Users\dvrus\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\dvrus\anaconda3\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                60

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 181 (724.00 Byte)
Trainable params: 181 (724.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
past = model.fit(X_train, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
WARNING:tensorflow:From C:\Users\dvrus\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\dvrus\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

10/10 [==============================] - 2s 40ms/step - loss: 0.1594 - mean_absolute_error: 0.3735 - val_loss: 0.1021 - val_mean_absolute_error: 0.2891
Epoch 2/50
10/10 [==============================] - 0s 10ms/step - loss: 0.0535 - mean_absolute_error: 0.1988 - val_loss: 0.0295 - val_mean_absolute_error: 0.1395
Epoch 3/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0161 - mean_absolute_error: 0.1004 - val_loss: 0.0137 - val_mean_absolute_error: 0.0994
Epoch 4/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0145 - mean_absolute_error: 0.0966 - val_loss: 0.0136 - val_mean_absolute_error: 0.0979
Epoch 5/50
10/10 [==============================] - 0s 11ms/step - loss: 0.0132 - mean_absolute_error: 0.0911 - val_loss: 0.0120 - val_mean_absolute_error: 0.0923
Epoch 6/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0109 - mean_absolute_error: 0.0811 - val_loss: 0.0121 - val_mean_absolute_error: 0.0902
Epoch 7/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0103 - mean_absolute_error: 0.0787 - val_loss: 0.0119 - val_mean_absolute_error: 0.0887
Epoch 8/50
10/10 [==============================] - 0s 10ms/step - loss: 0.0100 - mean_absolute_error: 0.0774 - val_loss: 0.0110 - val_mean_absolute_error: 0.0857
Epoch 9/50
10/10 [==============================] - 0s 11ms/step - loss: 0.0095 - mean_absolute_error: 0.0753 - val_loss: 0.0103 - val_mean_absolute_error: 0.0836
Epoch 10/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0092 - mean_absolute_error: 0.0740 - val_loss: 0.0099 - val_mean_absolute_error: 0.0818
Epoch 11/50
10/10 [==============================] - 0s 11ms/step - loss: 0.0088 - mean_absolute_error: 0.0726 - val_loss: 0.0095 - val_mean_absolute_error: 0.0800
Epoch 12/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0085 - mean_absolute_error: 0.0712 - val_loss: 0.0091 - val_mean_absolute_error: 0.0783
Epoch 13/50
10/10 [==============================] - 0s 11ms/step - loss: 0.0082 - mean_absolute_error: 0.0697 - val_loss: 0.0089 - val_mean_absolute_error: 0.0775
Epoch 14/50
10/10 [==============================] - 0s 10ms/step - loss: 0.0079 - mean_absolute_error: 0.0684 - val_loss: 0.0085 - val_mean_absolute_error: 0.0755
Epoch 15/50
10/10 [==============================] - 0s 10ms/step - loss: 0.0076 - mean_absolute_error: 0.0671 - val_loss: 0.0081 - val_mean_absolute_error: 0.0737
Epoch 16/50
10/10 [==============================] - 0s 11ms/step - loss: 0.0073 - mean_absolute_error: 0.0657 - val_loss: 0.0078 - val_mean_absolute_error: 0.0722
Epoch 17/50
10/10 [==============================] - 0s 11ms/step - loss: 0.0070 - mean_absolute_error: 0.0645 - val_loss: 0.0075 - val_mean_absolute_error: 0.0706
Epoch 18/50
10/10 [==============================] - 0s 13ms/step - loss: 0.0067 - mean_absolute_error: 0.0632 - val_loss: 0.0072 - val_mean_absolute_error: 0.0693
Epoch 19/50
10/10 [==============================] - 0s 26ms/step - loss: 0.0064 - mean_absolute_error: 0.0618 - val_loss: 0.0068 - val_mean_absolute_error: 0.0674
Epoch 20/50
10/10 [==============================] - 0s 14ms/step - loss: 0.0061 - mean_absolute_error: 0.0607 - val_loss: 0.0065 - val_mean_absolute_error: 0.0660
Epoch 21/50
10/10 [==============================] - 0s 12ms/step - loss: 0.0058 - mean_absolute_error: 0.0593 - val_loss: 0.0063 - val_mean_absolute_error: 0.0647
Epoch 22/50
10/10 [==============================] - 0s 16ms/step - loss: 0.0055 - mean_absolute_error: 0.0578 - val_loss: 0.0060 - val_mean_absolute_error: 0.0628
Epoch 23/50
10/10 [==============================] - 0s 13ms/step - loss: 0.0053 - mean_absolute_error: 0.0565 - val_loss: 0.0057 - val_mean_absolute_error: 0.0613
Epoch 24/50
10/10 [==============================] - 0s 13ms/step - loss: 0.0051 - mean_absolute_error: 0.0554 - val_loss: 0.0055 - val_mean_absolute_error: 0.0597
Epoch 25/50
10/10 [==============================] - 0s 14ms/step - loss: 0.0049 - mean_absolute_error: 0.0542 - val_loss: 0.0053 - val_mean_absolute_error: 0.0587
Epoch 26/50
10/10 [==============================] - 0s 15ms/step - loss: 0.0046 - mean_absolute_error: 0.0529 - val_loss: 0.0049 - val_mean_absolute_error: 0.0563
Epoch 27/50
10/10 [==============================] - 0s 12ms/step - loss: 0.0043 - mean_absolute_error: 0.0515 - val_loss: 0.0048 - val_mean_absolute_error: 0.0551
Epoch 28/50
10/10 [==============================] - 0s 11ms/step - loss: 0.0041 - mean_absolute_error: 0.0498 - val_loss: 0.0046 - val_mean_absolute_error: 0.0539
Epoch 29/50
10/10 [==============================] - 0s 10ms/step - loss: 0.0039 - mean_absolute_error: 0.0487 - val_loss: 0.0043 - val_mean_absolute_error: 0.0520
Epoch 30/50
10/10 [==============================] - 0s 10ms/step - loss: 0.0037 - mean_absolute_error: 0.0476 - val_loss: 0.0040 - val_mean_absolute_error: 0.0504
Epoch 31/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0035 - mean_absolute_error: 0.0463 - val_loss: 0.0039 - val_mean_absolute_error: 0.0490
Epoch 32/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0033 - mean_absolute_error: 0.0451 - val_loss: 0.0036 - val_mean_absolute_error: 0.0475
Epoch 33/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0031 - mean_absolute_error: 0.0438 - val_loss: 0.0035 - val_mean_absolute_error: 0.0461
Epoch 34/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0029 - mean_absolute_error: 0.0424 - val_loss: 0.0032 - val_mean_absolute_error: 0.0445
Epoch 35/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0027 - mean_absolute_error: 0.0412 - val_loss: 0.0030 - val_mean_absolute_error: 0.0431
Epoch 36/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0025 - mean_absolute_error: 0.0397 - val_loss: 0.0029 - val_mean_absolute_error: 0.0420
Epoch 37/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0024 - mean_absolute_error: 0.0385 - val_loss: 0.0027 - val_mean_absolute_error: 0.0403
Epoch 38/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0022 - mean_absolute_error: 0.0373 - val_loss: 0.0026 - val_mean_absolute_error: 0.0391
Epoch 39/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0021 - mean_absolute_error: 0.0360 - val_loss: 0.0024 - val_mean_absolute_error: 0.0379
Epoch 40/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0020 - mean_absolute_error: 0.0346 - val_loss: 0.0022 - val_mean_absolute_error: 0.0367
Epoch 41/50
10/10 [==============================] - 0s 7ms/step - loss: 0.0018 - mean_absolute_error: 0.0336 - val_loss: 0.0021 - val_mean_absolute_error: 0.0355
Epoch 42/50
10/10 [==============================] - 0s 7ms/step - loss: 0.0017 - mean_absolute_error: 0.0323 - val_loss: 0.0020 - val_mean_absolute_error: 0.0345
Epoch 43/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0016 - mean_absolute_error: 0.0311 - val_loss: 0.0019 - val_mean_absolute_error: 0.0335
Epoch 44/50
10/10 [==============================] - 0s 10ms/step - loss: 0.0015 - mean_absolute_error: 0.0300 - val_loss: 0.0017 - val_mean_absolute_error: 0.0324
Epoch 45/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0014 - mean_absolute_error: 0.0291 - val_loss: 0.0016 - val_mean_absolute_error: 0.0315
Epoch 46/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0013 - mean_absolute_error: 0.0278 - val_loss: 0.0015 - val_mean_absolute_error: 0.0305
Epoch 47/50
10/10 [==============================] - 0s 9ms/step - loss: 0.0012 - mean_absolute_error: 0.0268 - val_loss: 0.0014 - val_mean_absolute_error: 0.0296
Epoch 48/50

10/10 [==============================] - 0s 9ms/step - loss: 0.0011 - mean_absolute_error: 0.0258 - val_loss: 0.0014 - val_mean_absolute_error: 0.0286
Epoch 49/50
10/10 [==============================] - 0s 8ms/step - loss: 0.0010 - mean_absolute_error: 0.0248 - val_loss: 0.0013 - val_mean_absolute_error: 0.0278
Epoch 50/50
10/10 [==============================] - 0s 9ms/step - loss: 9.5965e-04 - mean_absolute_error: 0.0242 - val_loss: 0.0012 - val_mean_absolute_error: 0.0270

In [25]:
y_pred = model.predict(X_test)

4/4 [==============================] - 0s 3ms/step

In [26]:
from sklearn.metrics import r2_score

R2 = r2_score(y_test, y_pred)
print("R2 Score=",R2 )

R2 Score= 0.9622779806025955